{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        LQS
      </li>
      <li class="list-group-item">
        LMTH
      </li>
      <li class="list-group-item">
        ognajD
      </li>
      <li class="list-group-item">
        nohtyP
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Если я чего-то не умею, то обязательно научусь!</p>
  </article>
</div>
{% endblock %}